// Override this file to add your own SCSS styling.
ul.ul-edu li .description p.institution {
    font-size: 0.75rem;
    color: black;
}

.portrait-title h2 {
    font-size: 3.5em;
    font-weight: 300;
    color: #000;
    margin: 20px 0 10px 0;
}

.portrait-title h3 {
    font-size: 1rem;
    font-weight: 300;
    color: black;
    margin: 0 0 10px 0;
}

element.style {
}
.experience .m-2 .border.exp-fill {
    background-color: #d60b52 !important;
}
.experience .m-2 .border, .experience .col.border-right {
    border-color: #d60b52 !important;
}


element.style {
}
.featurette-icon {
    display: block;
    width: 100%;
    color: #662483;
    font-size: 3rem;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin-top: 50px;
}
body {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    background-color: #d8f3dc;
    padding-top: 0;
    counter-reset: captions;
    overflow-x: hidden;
    margin-top: 70px;
}
.featurette-icon {
    display: block;
    width: 100%;
    color: #1b4332;
    font-size: 3rem;
    text-align: center;
}
.experience .m-2 .border, .experience .col.border-right {
    border-color: #4e8698 !important;
}

.experience .m-2 .border.exp-fill {
    background-color: #175d69 !important;
}

.wg-contact .fa-li {
    position: absolute;
    left: -3.14285714rem;
    width: 2rem;
    top: 0.14285714em;
    text-align: center;
    color: #175d69;
}

