@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


// Override this file to add your own SCSS styling.
ul.ul-edu li .description p.institution {
    font-family: Poppins;
    font-size: 0.75rem;
    color: black;
}

.portrait-title h1 {
    font-family: Poppins;
    font-size: 3.5em;
    font-weight: 300;
    color: #000;
    margin: 20px 0 10px 0;
}

.portrait-title h2 {
    font-family: Poppins;
    font-size: 2.5em;
    font-weight: 300;
    color: #000;
    margin: 20px 0 10px 0;
}

.portrait-title h3 {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    margin: 0 0 10px 0;
}

element.style {
}
.experience .m-2 .border.exp-fill {
    background-color: #d60b52 !important;
}
.experience .m-2 .border, .experience .col.border-right {
    border-color: #d60b52 !important;
}


element.style {
}
.featurette-icon {
    display: block;
    width: 100%;
    color: #662483;
    font-size: 3rem;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
}


body {
    font-family: Poppins;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    background-color: #fcfbf9;
    padding-top: 0;
    counter-reset: captions;
    overflow-x: hidden;
    margin-top: 70px;
}
.featurette-icon {
    display: block;
    width: 100%;
    background-color: #fcfbf9;
    color: #1b4332;
    font-size: 3rem;
    text-align: center;
}


.experience .m-2 .border, .experience .col.border-right {
    border-color: #6d5343 !important;
}

.experience .m-2 .border.exp-fill {
    background-color: #6d5343 !important;
}

.wg-contact .fa-li {
    position: absolute;
    left: -3.14285714rem;
    width: 2rem;
    top: 0.14285714em;
    text-align: center;
    color: #175d69;
}

blockquote {
    padding: 0.5rem 1rem;
    margin: 0.8rem 0;
    color: black;
    background: #fcf;
    border-left: 0.25rem solid #e5e5e5;
}